
/* login */
.login-content{

     margin-top: -35%;
    margin-right: 62%;

    padding: 10%;
    padding-top: 17px;
}


#login-img{

    width: 57%;
    margin-top: 5%;
    margin-left: 49%;

}

.captcha
{
    margin-left: 238px;
    margin-bottom: 18px;
}


.login-row
{
    height: 0;
}

 /* register */

 #register-img{


    margin-left: 593px;
    margin-top: 62px;
    width: 644px;
    height: 517px;
}

.row-register
{
    height: 0px;
}

.register-content{

    margin-right: 747px;
    margin-top: -513px;
    padding: 6%;
}

.captcha-register
{
    margin-left: 250px;
    margin-bottom: 29px;
}

.captcha-error
{
    margin-left: 37%;
    position: relative;
    top: -10;
    color: rgb(221, 40, 40);
}
.btn-register-form
{
    margin-top: -20px;
}

/* reset */

.reset-back img{

    margin-left: -116px;
    margin-top: 75px;
    width: 59%;
}

.reset-content
{

    padding: 5%;
    margin-left: 30%;
    padding-left: 18%;
    margin-top: -39%;


}
