.form-contact
{
    padding-left: 52%;
    margin-left: -46%;
    margin-top: 9%;
}

#img-contact{
    position: relative;
    left: 46%;
    top: -426px;
     margin-bottom: -23%;
}

.alert-success-contact{


    width: 32%;
    height: 11%;
    margin-left: 727px;
    margin-top: 20px;
    /* padding-left: 76px; */
    margin-bottom: 455px;
    margin-top: -456px;
    text-align: center;
}

.alert-danger{

    width: 34%;
    height: 20%;
    margin-left: 727px;
    margin-top: 20px;
    /* padding-left: 76px; */
    margin-bottom: 455px;
    margin-top: -456px;
    text-align: center;

}

li{

    list-style-type:decimal;
}


