#home-img{
    margin-bottom: -131px;
    margin-left: -10%;
    width: 114%;
    height: 68%;
    margin-top: -1%;
}

.logout{

    cursor: pointer;
}

.col-home{

    width: 100%;
    height: 100%;
}

.col-home div
{
    position: relative;
    top: -727px;
    left: 36%;
    text-align: center;
    width: 19%;
    height: 128px;
    padding-top: 11px;
    border-radius: 9%;
    border: 1px solid black;
    background-color: lavender;
}

