@font-face {
    font-family:'font-dubai' ;
    src: url('fonts/DUBAI-BOLD.TTF');
}


body{

    overflow-x:hidden;
}


#header-1{

    background-color: #dffff9;
    text-align: center;
    height: 50px;
    padding-top: 4px;
    background-position : top;

}

.logo {

    width: 58px;
    margin-left: 21px;
    position: relative;
    left: -90px;

}
#logo-big{

    position: fixed;
    left: 601px;
    top: 54px;
    width: 109px;

}


.fa-home{
    position: relative;
    top: 27px;
    left: 40px;
    font-size: 44px;
    color: #7a5e5e;
}

#p0{

    position: relative;
    top: 20px;
    left: 89px;
    font-size: 20px;
}


#p1{

    position: relative;
    left: 185px;
    top: -25px;
    font-size: 20px;

}

#p2{

    position: relative;
    left: 265px;
    top: -70px;
    font-size: 20px;
}


#p3{

    left: 363px;
    position: relative;
    top: -116px;
    font-size: 20px;

}

a{
    text-decoration: none;

    color: #000;
}

.para{

    font-family:'1' ;
    position: relative;
    left: 59px;
    top: -18px;
}

#header-2
{
    position: fixed;
    width: 102%;
    height: 103;
    background-color: white;
    padding-top: -2px;
    z-index: 100;
}

#header-2 .col-12
{
    padding-top: 34px;
    height: 0;
}

#content
{
    margin-left: -26px;
    margin-top: -108px;
}

#content img
{
    border-top: 3px #af948a solid;
    width: 100%;
}

#content h1
{
    position: relative;
    top: 254px;
    left: 53%;
    color: #bc4242;
    text-align: left;
    font-family:'font-dubai' ;
}

#content h4{
    position: relative;
    top: 274px;
    left: 761px;
    color: #830000;
}



.icofont-search-2{

    top: -186px;
    left: 980px;
    position: relative;

}


#input1{

    top: -186px;
    position: relative;
    left: 1015px;
    border: 2px gray solid;
    border-radius: 15px;
    background-color: white;
    text-align: center
}



#footer{

    background-color: #dffff9;
    height: 238px;
    margin-left: -76px;
    max-inline-size: 126%;

}

.row
{
    width: 110%;
}
.col-6{
    padding-top: 53px;
    font-size: 21px;
    text-align: center;
}

.ico-fonts
{
    font-size: 23px;
    position: relative;
    right: 59px;

}

.col-6 #p-foot
{
    font-weight: light;
}


#logo-footer{

    height: 109px;
    width: 118px;
    margin-top: 29px;

}


#col-3-1{

    padding-left: 104px;
    padding-top: 20;


}


#p-foot{

    font-weight:lighter ;

}




#SocialMedia{
    padding-top: 53px;

}


/* background1 css codes */
#background-1
{
    background-image: url('../../public/images/background1.jpg');
    background-repeat: no-repeat;
    text-align:center;
    padding-top: 40px;
    height: 471px;

}



#background-1  div h2 {


    color:#645656;
}


/* slid1 css codes */
.img-product{
    width: 199px;
    height: 225px;
    position: relative;
    z-index: 1;
    top: -3px;
    left: 105px;
}


.product{

    width: 70px;
    margin-left: 150px;
    margin-bottom: 192px;
}

.product div
{
    position: relative;
    top: -171px;
    z-index: 90;
}

.product  div #text-top-1
{
    font-size: 10px;
    margin-top: -43px;
    width: 155%;
    margin-left: 67px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;

}

.product div #text-top-2{



    z-index: 5;
    margin-left: 67px;
    margin-top: -43px;
    font-size: 10px;
    font-weight: 800;
    color: white;
    width: 155%;
    position: relative;

}


.product div #text-top-3{

    z-index: 5;
    margin-left: 67px;
    margin-top: -43px;
    font-size: 10px;
    font-weight: 800;
    color: white;
    width: 155%;
    position: relative;

}


.product div #text-top-4{



    z-index: 5;
    margin-left: 67px;
    margin-top: -43px;
    font-size: 10px;
    font-weight: 800;
    color: white;
    width: 155%;
    position: relative;

}


.product div #p-pic-1{

    position: relative;
    top: 102px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-1:hover
{
    color: #b84f2c;
    cursor: pointer;
}



.product div #p-pic-2{

    position: relative;
    top: 102px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-2:hover
{
    color: #eb8314;
    cursor: pointer;
}


.product div #p-pic-3{

    position: relative;
    top: 102px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-3:hover
{
    color: #21b045ad;
    cursor: pointer;
}


.product div #p-pic-4{

    position: relative;
    top: 102px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-4:hover
{

    color: #5e0712ad;
    cursor: pointer;
}



/* slide2 css codes */
.product  div #text-top-5
{
    font-size: 10px;
    margin-top: -43px;
    width: 155%;
    margin-left: 67px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;
    margin-top: 180px;

}



.product div #p-pic-5{

    position: relative;
    top: 102px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-5:hover
{
    color: #460c13ad;
    cursor: pointer;
}




.product  div #text-top-6
{
    font-size: 10px;
    margin-top: -43px;
    width: 155%;
    margin-left: 67px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;
    margin-top: 180px;

}


.product div #p-pic-6{

    position: relative;
    top: 102px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-6:hover
{
    color: #d55262ad;
    cursor: pointer;
}




.product  div #text-top-7
{
    font-size: 10px;
    margin-top: -43px;
    width: 155%;
    margin-left: 67px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;
    margin-top: -42px;

}



.product div #p-pic-7{

    position: relative;
    top: 102px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-7:hover
{
    color: #18b8b8ad;
    cursor: pointer;
}


.product  div #text-top-8
{
    font-size: 10px;
    margin-top: -43px;
    width: 155%;
    margin-left: 67px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;
    margin-top: 179px

}



.product div #p-pic-8{

    position: relative;
    top: 102px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-8:hover
{
    color: #ed132cad;
    cursor: pointer;
}


/* slide3 css codes */



.product  div #text-top-9
{
    font-size: 10px;
    margin-top: -43px;
    width: 155%;
    margin-left: 67px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;
    margin-top: 179px

}



.product div #p-pic-9{

    position: relative;
    top: 102px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-9:hover
{
    color: #ed132cad;
    cursor: pointer;
}



.product  div #text-top-10
{
    font-size: 10px;
    margin-top: -43px;
    width: 155%;
    margin-left: 67px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;
    margin-top: 179px

}



.product div #p-pic-10{

    position: relative;
    top: 115px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-10:hover
{
    color: #581141ad;
    cursor: pointer;
}



.product  div #text-top-11
{
    font-size: 10px;
    margin-top: -43px;
    width: 155%;
    margin-left: 67px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;
    margin-top: 179px

}



.product div #p-pic-11{

    position: relative;
    top: 103px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-11:hover
{
    color: #086736ad;
    cursor: pointer;
}



.product  div #text-top-12
{
    font-size: 10px;
    margin-top: -43px;
    width: 155%;
    margin-left: 67px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;
    margin-top: 179px

}



.product div #p-pic-12{

    position: relative;
    top: 118px;
    width: 194px;
    color: white;
    font-weight: 800;

}

.product div #p-pic-12:hover
{
    color: #620d86ad;
    cursor: pointer;
}



#p5{

    font-size: 12px;
    margin-top: -213px;
    width: -23%;
    margin-left: -734px;
    color: white;
    font-weight: 800;
    position: relative;
    z-index: 5;
}

.carousel-inner
{
    height: 65%;
}

/* shadow-slide-1 */

.product::before
{
    opacity: .25;
    background: linear-gradient(to bottom,#000 0,rgba(0,0,0,0) 40%);
    content: '';
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 253px;
    right: 0;
    bottom: 0;
    width: 60.2%;
    height: 50%;
    display: flex;

 }
 .product::after
{
    background: linear-gradient(to top,#000 0,rgba(0,0,0,0) 40%);
    content: '';
    position: absolute;
    z-index: 2;
    left: 253px;
    right: 0;
    bottom: 0;
    width: 60.2%;
    height: 50%;
    display: flex;
    opacity: 0.3;

 }

 .slide-text
 {
    position: relative;
    left: 107px;
 }



 .slide-1::after
 {
    top: -23px;
 }

 .slide-2::after
 {
    top: -14px;
 }

 .slide-3::after
 {
    top: 11px;
 }



 #img-p-5{

    position: absolute;
    top: 0px;
    left: 254px;

 }

 #img-p-6{

    position: absolute;
    top: 2px;
    left: 480px;
}

#img-p-7
{
    left: 107px;
    top: 1;
}


#img-p-8{


    position: absolute;
    top: 2px;
    left: 915px;
}




#img-p-9 {
    position: absolute;
    top: 1px;
    left: 253px;
}

#img-p-10{


    position: absolute;
    top: 1px;
    left: 475px;

}


#img-p-11{

    position: absolute;
    left: 693px;
    top: -5px;

}


#img-p-12{


    position: absolute;
    top: 1px;
    left: 917px;
}

.slide-3
{
    height: 238px;
}


#p-2
{
    position: relative;
    top: 482%;
}

#p-1
{
    position: relative;
    top: 482%;
}

#p-4
{
    position: relative;
    top: 482%;
}

#p-5
{
    padding-top: 499%;
}

#p-6
{
    padding-top: 499%;
}

#p-7
{
    padding-top: 499%;
}

#p-8
{
    padding-top: 499%;
}

.btn-search
{
    background-color: white;
    border-radius: 20px;
    border:solid rgb(72, 181, 206) 2px;
    width:130px;

}
.btn-search:hover{

    background-color: rgb(72, 181, 206);
}







  /* div1 , div 2in contents */


#div-1 h5{

    text-align: left; color:#655850 ;    text-align: left; color: #655850; padding-left: 106px;  padding-top: 79px;
}

#div-1 h2{
    text-align: left; padding-left: 103px;

}

#div-1 p{

    text-align: left;    padding-left: 105px;    font-weight: lighter ;    font-size: 17px;

}


#div-1 button{

    margin-left: -376px;

}

#div-2 img{
    height: 403px;  width: 614px;

}






/* div3 , div4 contents */

#div-3 img{

    height: 483px;
    width: 729px;
    margin-top: -53px;
    margin-left: -13px;
}




#div-4 h5{


    text-align: left;
    padding-left: 139px;
    padding-top: 45px;
    color: #655850;
}

#div-4 h2{

    text-align: left; padding-left: 135px;

}

#div-4 p{

    text-align: left;       padding-left: 136px;;    font-weight: lighter ;    font-size: 16px;;

}


#div-4 .btn-splash{

    margin-left: -241px;
    margin-top: 14px;
    height: 57px;
    width: 170px;
    background-color: white;
    border-radius: 15px;
    border: solid px rgb(72, 181, 206);

}


#div-4 .btn-splash:hover{

    background-color: rgb(72, 181, 206);
}


/* background2 css codes */

 #background-2 {

    background-image: url('../../public/images/background2.jpg');
    background-repeat: no-repeat;
    height: 120%;
    width: 101%;
    margin-left: 0px;
    padding-top: 6%;


}

.card-image img
{
    width: 80%;
    height: 69%;
}

.card-1
{
    position: relative;
    left: 28px;
}

.card-2
{
    position: relative;
    left: -26px;
}

.card-3
{
    position: relative;
    left: -84px;
}

.card-text
{
    position: relative;
    top: -120px;
    font-weight: 700;

}

.cmp-button__text
{
    visibility: hidden;
}

.card-1:hover
{
    transform: scale(1.1);
}

.card-2:hover
{
    transform: scale(1.1);

}

.card-3:hover
{
    transform: scale(1.1);

}

.cmp-button__text
{
    background-color: white;
    width: 79%;
    height: 11%;
    margin-left: 10%;
}



/* background3 css codes */

#background3
{
    margin-left: -25px;
    height: 95%;
}

#background3 h1
{
    position: relative;
    top: -55%;
    left: 24%;
    color: #38388c;
}

.product-ice
{
    width: 8%;
    position: relative;
    top: -49%;
    left: 25%;
    box-shadow: 1px 1px 3px 2px #2e297c;
}


/* about */

#container-about{

    width:100%;
     height:90%;
      border:1px solid ;
      border-top:  red;
      background-color:rgb(173, 227, 229);


}


#ice-strawberry{

    width: 259px;
    height: 292px;
    position: relative;
    top: 155px;
    left: 114px;

}

.about-2{


    position: relative;
    top: 75px;
    right: 88px;
    text-align: left;
    line-height: 2;
}

.contact-img
{
    width: 101%;

}

